body {
  margin: 0;
  padding: 0;
  
  /*Prevents elements being placed on a half pixel, making them blurry*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

img {
  image-rendering: crisp-edges;
}

#top {
  background-color: #036564;
  /*height: 20vh;*/
}

#bottom {
  position: absolute;
  bottom: 0;
  background-color: #036564;
  /*height: 20vh;*/
}

#middle {
  background-color: #E8DDCB;
  /*height: 60vh;*/
}

.block {
  width: 100%;
}

#score-container {
  height: 100%;
  width: 90%;
  margin: auto;
  background-color: white;
  overflow: hidden;
}

#pages-container {
  
}

#pages-container img {
  width: 100%;
  height: auto;
}