body {
  margin: 0;
  padding: 0;
}

#top {
  background-color: #036564;
}

.nav-button {
  top: .4vh; /*padding from top-left corner, match with .nav-button img height*/
  /*left: .4vh;*/
  /*display: inline; */
  /*only one that doesn't block the elements, there's a better way to do this */
}

.nav-button img {
  height: calc(100% - .8vh);
  width: auto;
}

.nav-button #menu-button {
  
}

.nav-button #search-button {
  
}

#bottom {
  position: absolute;
  bottom: 0;
  background-color: #036564;
}

#middle {
  background-color: #E8DDCB;
}

.block {
  width: 100%;
}

#score-container {
  background-color: lightgrey;
  height: 100%;
  margin: auto;
  overflow: hidden;
  
}

#pages-container {
  /*color checks for extra pixels, which likely comes from rendering 3d*/
  background-color: red;
  margin: auto;
}

#pages-container img {
  width: 100%;
  height: auto;
}