body {
  margin: 0;
  padding: 0;
}

#top {
  background-color: red;
  height: 20vh;
}

#bottom {
  position: absolute;
  bottom: 0;
  background-color: orange;
  height: 20vh;
}

#middle {
  background-color: blue;
  height: 60vh;
}

.block {
  width: 100%;
}